$color-primary: #5A7F98 !default;
$color-primary-light: #E7F0F5 !default;
$color-black: #2C343A !default;
$color-grey: #C0C0C0 !default;
$color-light-grey: #E7E7E7 !default;
$color-red: #CD1F1F !default;
$color-green: #239910 !default;
$color-blue-light: #F3F7F9 !default;
$color-purple: #9B51E0 !default;
$color-blue: #2D80F0 !default;

$color-reservation: #FCFBDF;
$color-partial: #FFF6E8;
$color-full: #FFEDE9;
$color-disabled: #F2F3F3;
$color-free: #fff;

$color-accent: #714418 !default;
$color-accent-dark: #532B1E !default;
