.c-aside {
  width: 100%;
  //background-color: #F8FAFC;
  position: absolute;
  //top: 120px;
  //bottom: 0;
  //right: 80px;
  //box-shadow: -2px 0 11px -6px rgb(74 123 172 / 50%);
  transform: translateX(100%);
  transition: .225s all ease-in-out;
  will-change: opacity, transform;
  opacity: 0;
  flex-shrink: 0;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
  }

  &.is-opened {
    position: relative;
  }

  .c-tab-panes.overflow-x-auto {
    overflow-y: scroll;
  }
}


.floorViewSection2{
  //margin-top: 70px;
  position: relative;
  padding: 2px;
  margin: 2px;
  right: 20px;
}


.floorViewSection1{
  //margin-top: 0px;
  position: relative;
  padding: 2px;
  margin: 2px;
  right: 5px;
}

.tittleForBarFloor{
  position: absolute;
  top:-10px;
  z-index: 250;
  display: none;
}

.title-copy1 {
  box-sizing: border-box;
  color: rgb(1, 35, 69);
  display: block;
  font-family: Mazzard, Arial, sans-serif;
  font-feature-settings: "liga", "clig";
  font-size: 15.0375px;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  height: 21px;
  letter-spacing: -0.150375px;
  line-height: 21.8044px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  tab-size: 4;
  text-rendering: optimizelegibility;
  width: 377.297px;
  word-break: normal;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title-copy2{
  box-sizing: border-box;
  color: rgb(1, 35, 69);
  display: block;
  font-family: Mazzard, Arial, sans-serif;
  font-feature-settings: "liga", "clig";
  font-size: 33.4167px;
  font-variant-ligatures: common-ligatures;
  font-weight: 500;
  height: 40.0938px;
  letter-spacing: -0.334167px;
  line-height: 40.1px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  tab-size: 4;
  text-rendering: optimizelegibility;
  transition-duration: 0.15s;
  transition-property: filter, opacity, -webkit-filter;
  width: 199.438px;
  word-break: normal;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-copy1 {
  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  font-size: 32px;
  font-weight: 700;
  height: 38.3906px;
  line-height: 38.4px;
  margin-bottom: 8px;
  width: 399.984px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}


.text-copy2 {
  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 28.7969px;
  line-height: 28.8px;
  width: 127.094px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.flat__info {
  background-color: #ffffff61;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 3px dashed #fff;
  z-index: -1;

  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  //font-size: 2vw;
  //height: 640px;
  width: 423px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  right: 0px;
  max-width: 100%;
}

.flat__media {
  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  //height: 640px;
  width: calc(100% - 523px);
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  left: 100px;
  top:5px;
}


.flat__media_mobile {
  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  //height: 640px;
  width:100%;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  //position: fixed;
  //left: 0px;
}

.flat {
  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  height: 640px;
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.text-copy3 {
  align-items: center;
  border-top-color: rgba(32, 37, 30, 0.1);
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: flex;
  flex-wrap: wrap;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  height: 66px;
  margin-top: 16px;
  opacity: 1;
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  visibility: visible;
  width: 399.984px;
  z-index: 1;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.text-copy4 {

  box-sizing: border-box;
  color: rgb(32, 37, 30);
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  width: 399.984px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.panelRight{
  overflow: hidden;
}
.flat__callback {

  align-items: flex-start;
  box-sizing: border-box;
  color: rgb(32, 37, 30);
  column-gap: 8px;
  display: flex;
  flex-direction: column;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  height: 90px;
  margin-bottom: 32px;
  row-gap: 8px;
  width: 399.984px;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
}

.buttonCopy2 {
  width: 220px;
  align-items: center;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(219, 222, 218);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(219, 222, 218);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(219, 222, 218);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(219, 222, 218);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #219794;
  cursor: pointer;
  display: flex;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 700;
  height: 42px;
  justify-content: center;
  line-height: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 40px;
  outline-color: rgb(98, 114, 91);
  outline-style: none;
  outline-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 0px;
  text-align: center;
  text-decoration-color: rgb(98, 114, 91);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buttonCopy {
  width: 220px;
  align-items: flex-start;
  appearance: none;
  background-color: #219794;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 40px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease;
  word-spacing: 0px;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.i3dTourModalButton{
  margin-top: 67px;
  background-color: rgb(228, 117, 84);
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: MultiKelnik, ptRootUi, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 16px;
  padding: 10px;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.c-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 12px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgba(#fff, .4);
  z-index: 10001;
  opacity: 1;
  transition: .6s;
}

.close{
  $size: 60px;
  $borderSize: 2px;
  $borderColor: rgba(white,1);
  $speed: .5s;
  width:$size;
  height:$size;
  position: fixed;
  right: 5px;
  top: 5px;
  background: #455A64;
  border-radius:50%;
  box-shadow: 0 0 20px -5px rgba(white,.5);
  transition: .25s ease-in-out;
  cursor: pointer;
  animation: fade-in $speed ease-out .25s both;
  @keyframes fade-in {
    from { opacity: 0; transform:scale(1.1) }
  }
  .circle {
    path {
      stroke: $borderColor;
      fill: none;
      stroke-width:  calc($borderSize/2);
      stroke-linecap: round;
      animation: progress $speed ease-out .25s both;
      @keyframes progress {
        from { stroke-dasharray: 0 100; }
      }
    }
  }
  span{
    display:block;
    width:calc($size / 4) - 2px;
    height:$borderSize;
    background: $borderColor;
    box-shadow: 0 0 20px -5px rgba(white,.5);
    border-radius: 20px;
    position: absolute;
    $padding: calc($size / 3);
    transition: .25s ease-in-out;
    animation: slide-in $speed ease-in-out .25s both;
    @keyframes slide-in {
      from { width:0; }
    }
    &:nth-child(1){
      top:($padding - calc($borderSize/2));
      left:$padding;
      transform:rotate(45deg);
      transform-origin: top left;
    }
    &:nth-child(2){
      top:($padding - calc($borderSize/2));
      right:$padding;
      transform:rotate(-45deg);
      transform-origin: top right;
    }
    &:nth-child(3){
      bottom:($padding - calc($borderSize/2));
      left:$padding;
      transform:rotate(-45deg);
      transform-origin: bottom left;
    }
    &:nth-child(4){
      bottom:($padding - calc($borderSize/2));
      right:$padding;
      transform:rotate(45deg);
      transform-origin: bottom right;
    }
  }
  &:hover{
    background: #37474F;
    span{
      width:calc($size/4);
    }
  }
}

.bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 10000;
  opacity: 1;
  //transition: .3s;
  max-height: 1200px;
}


.vue-lb-box {
  width: 100%
}


.vue-lb-container {
  //width: inherit;
  align-items: center;
  //background-color: rgb(0 0 0 / 19%);
  //background-color: #f4f5f8;
  box-sizing: border-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  /*height: 100%;*/
  justify-content: center;
  left: 0;
  padding: 10px;
  /*position: fixed;*/
  top: 0;
  /*width: 100%;*/
  z-index: 2000;
  -webkit-align-items: center;
  -moz-box-sizing: border-box;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center
}

.vue-lb-content {
  margin-bottom: 60px;
  max-width: 1024px;
  position: relative
}

.vue-lb-header {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  height: 40px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify
}

.vue-lb-button-close {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 0;
  vertical-align: bottom;
  height: 40px;
  margin-right: -10px;
  padding: 10px;
  width: 40px
}

.vue-lb-figure {
  margin: 0;
  display: block;
  position: relative
}

img.vue-lb-modal-image {
  max-height: calc(100vh - 140px);
  cursor: pointer;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.vue-lb-info {
  background-color: #ffffff61;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 3px dashed #fff;

  visibility: initial;
  bottom: 25px;
  color: #000;
  height: 40px;
  max-width: 30%;
  margin: 0px auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
}

.vue-lb-info_gal, .vue-lb-info_gal-active {
  background-color: #ffffff;
  padding: 11px;
  margin: 10px;
  border-radius: 20px;
  //border: 3px dashed #fff;

  visibility: initial;
  bottom: 25px;
  color: #000;
  height: 40px;
  margin: 0px auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
}

.vue-lb-info_gal-active {
  background-color: #e47554;
}

.vue-lb-footer {
  box-sizing: border-box;
  color: #fff;
  cursor: auto;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  left: 0;
  line-height: 1.3;
  padding: 5px 0;
  -moz-box-sizing: border-box;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify
}

.vue-lb-footer-info {
  display: block;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0
}

.vue-lb-footer-count {
  //color: hsla(0, 0%, 100%, .75);
  font-size: .85em;
  padding-left: 1em;
  color:#000;
}

.vue-lb-thumbnail {
  //top: 10px;
  //height: 150px;
  //padding: 0 50px;
  //text-align: center;
  //white-space: nowrap;
  //display: inline-block;
  //position: relative

  position: relative;
  top: 0px;
  height: 50px;
  text-align: center;
  white-space: nowrap;
  //display: inline-block;
  display: -webkit-inline-box;
  padding: 0 50px;



}

.vue-lb-modal-thumbnail {
  box-shadow: inset 0 0 0 2px #219794
  //box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .2)
}

.vue-lb-modal-thumbnail, .vue-lb-modal-thumbnail-active {
  background-position: 50%;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  margin: 2px;
  overflow: hidden;
  width: 50px
}

.vue-lb-modal-thumbnail-active {
  box-shadow: inset 0 0 0 2px #fff
}

.vue-lb-thumbnail-arrow {
  height: 54px;
  width: 40px;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  -webkit-touch-callout: none;
  user-select: none;
  height: 50px;
  margin-top: -25px;
  width: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.vue-lb-thumbnail-left {
  left: 10px
}

.vue-lb-thumbnail-right {
  right: 10px
}

.vue-lb-arrow {
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  -webkit-touch-callout: none;
  user-select: none;
  height: 120px;
  margin-top: -60px;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.vue-lb-left {
  left: 10px
}


.iframe-loading {
  //background:url(https://dummyimage.com/300x200&text=%D0%BF%D0%BE%D0%B6%D0%B0%D0%BB%D1%83%D0%B9%D1%81%D1%82%D0%B0%20%D0%BF%D0%BE%D0%B4%D0%BE%D0%B6%D0%B4%D0%B8%D1%82%D0%B5%203%D0%B4%20%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%20%D0%B7%D0%B0%D0%B3%D1%80%D1%83%D0%B6%D0%B0%D0%B5%D1%82%D1%81%D1%8F%20%D0%BD%D0%B0%20%D0%B2%D0%B0%D1%88%D0%B5%20%D1%83%D1%81%D1%82%D1%80%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%BE);
  background: url(https://dummyimage.com/350x3500/f5f6f9.png/000/600x400&text=%D0%BF%D0%BE%D0%B6%D0%B0%D0%BB%D1%83%D0%B9%D1%81%D1%82%D0%B0%20%D0%BF%D0%BE%D0%B4%D0%BE%D0%B6%D0%B4%D0%B8%D1%82%D0%B5%203%D0%B4%20%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%20%D0%B7%D0%B0%D0%B3%D1%80%D1%83%D0%B6%D0%B0%D0%B5%D1%82%D1%81%D1%8F%20%D0%BD%D0%B0%20%D0%B2%D0%B0%D1%88%D0%B5%20%D1%83%D1%81%D1%82%D1%80%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%BE);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}


.ifarameFullScreen{
  //background:url(https://dummyimage.com/400x300&text=%D0%BF%D0%BE%D0%B6%D0%B0%D0%BB%D1%83%D0%B9%D1%81%D1%82%D0%B0%20%D0%BF%D0%BE%D0%B4%D0%BE%D0%B6%D0%B4%D0%B8%D1%82%D0%B5%203%D0%B4%20%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%20%D0%B7%D0%B0%D0%B3%D1%80%D1%83%D0%B6%D0%B0%D0%B5%D1%82%D1%81%D1%8F%20%D0%BD%D0%B0%20%D0%B2%D0%B0%D1%88%D0%B5%20%D1%83%D1%81%D1%82%D1%80%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%BE);
  background: url(https://dummyimage.com/1200x600/f5f6f9.png/000/1000x200&text=%D0%BF%D0%BE%D0%B6%D0%B0%D0%BB%D1%83%D0%B9%D1%81%D1%82%D0%B0%20%D0%BF%D0%BE%D0%B4%D0%BE%D0%B6%D0%B4%D0%B8%D1%82%D0%B5%203%D0%B4%20%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%20%D0%B7%D0%B0%D0%B3%D1%80%D1%83%D0%B6%D0%B0%D0%B5%D1%82%D1%81%D1%8F%20%D0%BD%D0%B0%20%D0%B2%D0%B0%D1%88%D0%B5%20%D1%83%D1%81%D1%82%D1%80%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%BE);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  width: 96%;
  height: 96%;
  //padding: 2%;
  margin: 2%;
}
.vue-lb-right {
  right: 10px
}

.vue-lb-open {
  background-color: #f4f5f8ed;
  overflow: hidden
}

.vue-lb-thumbnail-wrapper {
  bottom: 10px;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0px;
}

@media (min-width: 500px) {
  .vue-lb-thumbnail-arrow {
    width: 40px
  }
}

@media (min-width: 768px) {
  .vue-lb-arrow {
    width: 70px
  }
}

.vue-lb-modal-image-transition-enter-active, .vue-lb-modal-image-transition-leave-active {
  transition: opacity .2s ease
}

.vue-lb-modal-image-transition-enter, .vue-lb-modal-image-transition-leave-to {
  opacity: 0
}

.vue-lb-modal-image-no-transition-enter-active, .vue-lb-modal-image-no-transition-leave-active {
  transition: none
}

.vue-lb-modal-image-no-transition-enter, .vue-lb-modal-image-no-transition-leave-to {
  opacity: 0
}

.vue-lb-content-transition-enter-active, .vue-lb-content-transition-leave-active {
  transition: opacity .2s ease
}

.vue-lb-content-transition-enter, .vue-lb-content-transition-leave-to {
  opacity: 0
}