.c-navigation {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  border-bottom: 1px solid #b7b7b7;
  transition: all .225s ease-in-out;
  will-change: padding, background-color;

  @include create-mq($grid__bp-md, 'min') {
    padding: 50px 0;

    .c-navigation__mobile-menu {
      display: none;
    }
  }

  &.is-stiky {
    @include create-mq($grid__bp-md, 'min') {
      padding: 25px 0;
    }
  }

  .is-logo {
    z-index: 2;
    position: relative;

    @include create-mq($grid__bp-md, 'min') {
      margin-right: 20px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    &>ul {
      padding: 0;
      list-style: none;
      align-items: center;
    }

    a, span {
      display: block;
      color: $color-black;
      cursor: pointer;

      @include create-mq($grid__bp-md, 'min') {
        opacity: 1;
        transition: opacity .225s ease-in-out;
        will-change: opacity;

        &:hover {
          opacity: .65;
        }
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 105px 15px 20px;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $color-primary;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      will-change: opacity;
      transition: opacity .2s ease-in-out;

      &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
      }
      &.is-close {
        visibility: visible;
        opacity: 0;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -60px;
        right: -108px;
        width: 289px;
        height: 304px;
        background-image: url("/img/leaflet.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: .3;
      }

      &>ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        flex-grow: 1;

        @include create-mq($grid__bp-md, 'min') {
          flex-wrap: wrap;
        }

        &:not(.c-social-menu) {
          &>li {
            border-bottom: 1px solid rgba(#F0F0F0, .5);
            &>a, &>span {
              line-height: normal;
              font-size: 16px;
              padding: 20px 0;
            }
          }
        }
      }
      .c-social-menu {
        flex-direction: row;
        justify-content: start;
        flex-shrink: 0;
      }


      @include create-mq($grid__bp-md, 'min') {
        padding: 0;
        opacity: 1;
        position: static;
        margin-right: 50px;
        background-color: transparent;
        pointer-events: initial;
        overflow: initial;

        &::before {
          display: none;
        }

        .c-social-menu {
          display: none;
        }

        &>ul {
          display: flex;
          flex-direction: row;
          overflow-x: initial;

          &:not(.c-social-menu) {
            &>li {
              border-bottom: none;
              &>a, &>span {
                padding: 10px 0;
              }
            }
          }
          &>li:not(:first-child) {
            margin-left: 25px;
          }
        }

      }
    }

    &-item {
      position: relative;

      &.is-active {
        &>a, &>span {
          opacity: .65;
        }
      }

      &[data-js-toggle="sub-menu"] {
        @include create-mq($grid__bp-md, 'min') {
          &:hover {
            .c-navigation__menu-sub {
              opacity: 1;
              visibility: visible;
              pointer-events: initial;
            }
          }
        }

        &>a, &>span {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &::after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.102 1.392l4.95 4.95a1 1 0 010 1.414l-4.95 4.95' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='bevel'/%3E%3C/svg%3E");

            @include create-mq($grid__bp-md, 'min') {
              transform: rotate(90deg);
              width: 16px;
              margin-left: 10px;
            }
          }
        }
      }
    }

    &-controls {
      display: flex;
      margin: 0;
      position: relative;
      z-index: 1;

      li:not(:first-child) {
        margin-left: 17px;

        @include create-mq($grid__bp-md, 'min') {
          margin-left: 20px;
        }
      }
    }

    &-sub {
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s ease-in-out;
      will-change: max-height;
      padding: 0 15px;

      @include create-mq($grid__bp-md, 'min') {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity .225s ease-in-out;
        will-change: opacity;
        padding: 10px 0;
        max-height: unset;
        position: absolute;
        top: 100%;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      a {
        white-space: nowrap;
        font-size: 16px;
        padding: 20px 0;

        @include create-mq($grid__bp-md, 'min') {
          padding: 12px 25px;
          display: block;
          color: $color-black !important;
          border-bottom: none;
        }
      }
      li {
        border-bottom: none !important;
      }
    }
  }
}

.is-open-menu .c-navigation,
.c-navigation.is-dark:not(.is-stiky) {
  border-bottom: none;
  background-color: transparent;

  .e-icon {
    &.is-logo {
      background-image: url("data:image/svg+xml,%3Csvg width='360' height='93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M128.665 4.29c-.89.544-12.513 5.094-7.963 24.135-2.819 1.434-8.407 5.045-9.545 12.166-1.533 9.397 2.819 19.882 10.436 21.365 1.187.1 12.759-5.638 10.831-22.205-1.385-12.167-12.711-28.339-3.759-35.46zm-3.264 50.15c-4.253-.545-12.612-13.948-4.303-23.443 2.819 9.199 7.963 16.024 4.303 23.442z' fill='%23fff'/%3E%3Cpath d='M126.687 12.946c5.638-3.165 7.566-.594 12.314-.791 9.545-.396 9.249-7.864 9.249-7.864-3.759 2.423-6.331 1.78-10.683.247-9.446-3.412-10.88 8.408-10.88 8.408zM54.332 40.097C54.925 22.491 56.21 5.28 49.485.977 21.097 13.342 4.43 32.432.82 48.95c-3.759 17.26 7.666 32.79 27.448 18.2-30.168.1-11.474-46.39 12.908-58.358 2.424 5.736 1.83 20.326 1.731 21.711-22.552 1.335-27.547 12.413-27.102 18.645 0 0 4.5-6.232 26.657-7.418-.198 10.336-1.088 19.04 1.78 20.277 2.869 1.236 12.019-2.424 12.019-2.424s-2.374-5.291-1.93-19.486zM81.088 27.783c-.396-.346-1.039-.346-1.583.05-6.33 4.4-17.26 12.215-20.03 22.898-.94 3.61-.148 9.248 1.583 11.177 1.632 1.88 9.545-1.632 9.891-1.83 0 0-2.176-.297-3.017-5.193-1.483-8.457 2.523-14.59 6.182-19.486.643.742.94 1.236.94 4.5 0 15.678 1.681 21.91 4.352 22.503 2.869.594 9.15-2.571 9.15-2.571s-5.243-3.364-4.748-15.134c.544-11.672.247-14.194-2.72-16.914zM242.266 38.169c3.116-3.363 6.232-7.963 5.836-13.502-.742-10.09-5.588-13.798-7.814-21.217 0 0-1.039-.593-4.352 2.275-2.968 2.572-7.171 12.661-7.171 18.3 0 18.05-.05 15.33.049 18.743.099 5.39 2.424 18.447 10.485 19.684 3.907-.198 9.743-6.924 10.633-12.612.89-5.836-1.929-10.88-7.666-11.671zm-5.836 2.473c-.296-8.062-1.285-22.998-.197-30.565 2.819 6.529 8.605 21.514.197 30.565zm.149 3.115c.791-.346 2.126-.544 3.808.396 2.473 1.434 4.402 6.231 2.522 10.683-3.709-1.385-6.033-3.957-6.33-11.079zM339.646 62.402c4.599.99 9.594-6.825 9.941-7.369.544 3.71 1.928 6.38 3.857 7.27 2.275 1.089 6.479-3.412 6.479-3.412s-3.264-.396-3.314-6.133c0-2.62 1.286-18.051-.791-23.739-.396-1.137-1.088-1.978-2.671-1.038l-5.193 3.016c1.583 4.353 1.633 9.793 1.237 17.41-.198 3.659-2.176 8.555-5.292 7.368-2.522-.989-3.165-12.71-3.116-19.436.05-2.72-.148-5.787-.395-7.072-.248-1.286-.891-2.226-2.671-1.385l-5.292 2.374s1.484 4.896 1.484 12.611c.099 9.595.396 18.398 5.737 19.535z' fill='%23fff'/%3E%3Cpath d='M358.637 10.078c-2.374 5.984-7.072 6.478-10.633 9.643-7.122 6.33-4.204 15.381-4.204 15.381 1.385-4.302 3.116-6.923 8.556-9.841 7.963-4.254 6.281-15.183 6.281-15.183zM201.217 51.423c-.099-2.621.89-16.914-1.335-22.552-.445-1.138-1.138-1.978-2.72-.94l-5.094 2.72c1.681 4.303 1.83 9.001 1.632 16.667-.099 3.66-1.978 8.605-5.144 7.468-.89-.297-2.126-2.077-2.077-4.105.099-4.55.594-16.766-1.335-21.76-.396-1.04-1.039-1.83-2.473-1.089-.297.05-5.391 2.968-5.391 2.968s.643 2.126.841 2.967c.297 1.434.594 3.314.791 5.737.149 2.374.099 5.143 0 8.408-.099 3.66-1.978 8.605-5.143 7.468-2.522-.89-3.066-11.969-3.165-18.695-.05-2.72.247-6.232 0-7.517-.248-1.286-.94-2.226-2.72-1.286l-5.935 3.066s1.582 3.808 1.83 11.474c.296 9.594 2.374 19.733 5.39 20.03 1.83.198 3.809-1.088 5.391-2.424 2.473-2.176 4.6-5.143 4.797-5.49.297 4.155 2.572 7.914 4.254 7.914 2.027 0 3.462-1.088 5.292-2.572 2.472-1.929 4.995-5.589 5.193-5.984.593 3.66 2.522 8.704 4.5 8.506 2.671-.247 5.935-4.945 5.935-4.945s-3.116-.297-3.314-6.034zM312.098 62.402c4.6.99 9.595-6.825 9.941-7.369.544 3.71 1.929 6.38 3.858 7.27 2.275 1.089 6.478-3.412 6.478-3.412s-3.264-.396-3.313-6.133c0-2.62 1.286-18.051-.791-23.739-.396-1.137-1.088-1.978-2.671-1.038l-5.193 3.016c1.583 4.353 1.632 9.793 1.236 17.41-.197 3.659-2.176 8.555-5.291 7.368-2.523-.989-3.166-12.71-3.116-19.436.049-2.72-.149-5.787-.396-7.072-.247-1.286-.89-2.226-2.67-1.385l-5.292 2.374s1.483 4.896 1.483 12.611c.099 9.595.396 18.398 5.737 19.535zM260.713 50.088c-2.027-4.6-1.632-12.364 2.671-17.013 1.781 1.434 1.83 6.577 1.83 8.555 0 0 7.32-6.132 2.918-14.292-4.253 2.176-13.304 9.248-14.244 15.776-1.236 8.655 2.078 18.25 9.546 19.437.84.099 4.747-2.72 6.33-5.935.049.05-5.589 1.137-9.051-6.528zM218.28 54.192c-1.385-.94-2.869-2.62-3.907-4.945 2.473-1.138 11.474-5.688 11.523-13.304.05-5.292-1.137-8.408-2.127-8.457-2.373-.099-5.588.247-7.814 1.335-2.967 1.484-9.05 5.54-10.039 12.612-1.336 9.396 2.225 19.782 10.336 21.019 5.094 0 7.666-3.561 10.139-8.309 0 .05-4.254 2.67-8.111.05zm-2.325-22.849c2.72-2.472 5.985 10.535-2.126 16.568-1.533-4.154-2.523-11.572 2.126-16.568zM101.216 54.49c-1.384-.94-2.868-2.622-3.907-4.946 2.473-1.138 11.474-5.688 11.524-13.304.049-5.292-1.138-8.408-2.127-8.457-2.374-.1-5.589.247-7.814 1.335-2.968 1.484-9.05 5.54-10.04 12.612-1.335 9.396 2.226 19.782 10.337 21.019 5.094 0 7.665-3.561 10.138-8.31 0 .05-4.253 2.672-8.111.05zm-2.324-22.85c2.72-2.472 5.984 10.535-2.127 16.568-1.533-4.154-2.522-11.523 2.127-16.568zM281.782 54.984c-.495 3.66-1.929 6.28-3.809 7.17-2.225 1.04-6.379-3.362-6.379-3.362s2.72-.396 2.769-6.034c0-2.572-.791-17.804 1.286-23.393.396-1.088 1.039-1.978 2.621-.989l5.144 2.967c-1.583 4.254-1.336 9.644-1.187 17.162-.05 2.028-.445 6.479-.445 6.479z' fill='%23fff'/%3E%3Cpath d='M290.981 50.088c-3.116-3.166-5.539-10.238-3.116-16.568 2.918 1.088 4.154 4.5 4.501 6.231 0 0 3.956-4.748.692-12.413-9.792 3.907-12.364 12.314-10.683 19.238 2.226 9.15 10.436 16.074 17.211 15.628 1.682-.642 5.688-6.083 6.232-11.375 0-.049-7.468 6.776-14.837-.741zM156.459 27.585c-10.682 0-21.019 6.825-20.524 21.612.396 11.474 10.04 13.007 10.435 13.106 1.435 0 4.897-2.176 6.182-4.401.841 1.73 3.957 5.094 5.589 4.105 3.709-2.176 4.599-5.44 4.599-5.44-4.945-2.127-2.423-22.8-6.281-28.982zm-4.55 27.201c-1.681.643-3.956-.297-4.945-.84-3.907-2.226-4.847-14.739 2.423-23.146 1.731.989 1.682 3.56 1.83 5.143.445 5.836.099 10.633.692 18.843zM124.263 85.745c1.88.296 3.413 1.236 3.413 3.115 0 1.336-.742 2.374-1.88 3.017-1.038.544-2.027.742-3.363.742h-4.797v-.544c1.682-.148 1.78-.346 1.78-1.88v-7.863c0-1.632-.197-1.78-1.78-1.88v-.543h5.144c1.483 0 2.373.247 3.016.692.693.495 1.138 1.187 1.138 2.176-.099 1.83-1.583 2.67-2.671 2.968zm-2.275-.248c2.176 0 3.017-.84 3.017-2.473 0-1.384-.841-2.423-2.72-2.423-.544 0-.89.05-1.088.198-.148.099-.198.346-.198.94v3.758h.989zm-.989 4.65c0 1.384.346 1.78 1.731 1.78 1.533 0 3.017-.841 3.017-2.869 0-1.978-1.385-2.868-3.808-2.868h-.94v3.956zM152.206 92.62v-.544c1.286-.148 1.434-.346 1.138-1.088-.248-.742-.643-1.73-1.039-2.967h-4.204c-.296.89-.593 1.632-.89 2.423-.445 1.286-.148 1.434 1.434 1.632v.544h-4.5v-.544c1.236-.148 1.533-.297 2.225-2.077l4.056-10.287.643-.099c1.236 3.363 2.571 7.023 3.808 10.436.643 1.681.791 1.879 2.176 2.027v.544h-4.847zm-1.929-10.435c-.643 1.681-1.286 3.462-1.879 4.995h3.66l-1.781-4.995zM184.847 89.257c-.148.643-.593 2.522-.791 3.363h-10.188l-.198-.297c2.72-3.758 5.44-7.665 8.21-11.622h-3.858c-1.731 0-2.028.1-2.423.742-.198.247-.495.89-.742 1.632h-.594c.099-1.038.347-2.72.396-3.56h.495c.198.494.445.444 1.038.444h7.913l.149.297c-2.72 3.808-5.342 7.616-8.062 11.573.594.05 1.88.05 3.215.05 2.572 0 3.165-.1 3.709-.693.396-.396.841-1.187 1.187-1.978l.544.05zM209.575 92.62v-.544c1.286-.148 1.435-.346 1.138-1.088-.247-.742-.643-1.73-1.039-2.967h-4.204c-.296.89-.593 1.632-.89 2.423-.445 1.286-.148 1.434 1.434 1.632v.544h-4.5v-.544c1.236-.148 1.533-.297 2.225-2.077l4.056-10.287.643-.099c1.236 3.363 2.572 7.023 3.808 10.436.643 1.681.791 1.879 2.176 2.027v.544h-4.847zm-1.928-10.435c-.643 1.681-1.286 3.462-1.88 4.995h3.66l-1.78-4.995zM242.464 92.769c-.248 0-.445 0-.742-.05-1.434-.099-2.176-.445-3.066-1.681-.742-.99-1.435-2.226-2.078-3.215-.395-.643-.643-.742-1.632-.742h-.692v3.066c0 1.682.198 1.78 1.78 1.93v.543h-5.242v-.544c1.632-.198 1.78-.247 1.78-1.929v-7.814c0-1.681-.197-1.73-1.78-1.88v-.543h4.995c1.434 0 2.374.198 3.116.643.791.494 1.335 1.385 1.335 2.572 0 1.681-1.088 2.72-2.522 3.363a72.918 72.918 0 001.78 2.819c.742 1.038 1.088 1.533 1.533 2.027.544.544.99.792 1.435.89v.545zm-7.221-6.38c1.039 0 1.682-.149 2.176-.544.742-.544 1.088-1.336 1.088-2.424 0-2.077-1.385-2.868-2.918-2.868-.544 0-.89.099-1.038.198-.198.148-.248.346-.248.84v4.798h.94z' fill='%23fff'/%3E%3C/svg%3E");
    }
    &.is-search {
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.031 16.794L25.126 24M11.157 19.317a9.159 9.159 0 100-18.317 9.159 9.159 0 000 18.317z' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    &.is-bag {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.677 23.956L20.155 7.014a.897.897 0 00-.893-.817h-3.137V4.782A4.788 4.788 0 0011.341 0a4.787 4.787 0 00-4.781 4.782v1.415H3.42a.897.897 0 00-.893.817L1 24.022a.897.897 0 00.893.978h18.897a.897.897 0 00.886-1.044zM8.356 4.782a2.99 2.99 0 012.987-2.987 2.99 2.99 0 012.987 2.987v1.415H8.356V4.782zm-5.48 18.423L4.242 7.992h2.319v1.604a.897.897 0 101.795 0V7.992h5.974v1.604a.897.897 0 101.795 0V7.992h2.316l1.367 15.213H2.876z' fill='%23fff'/%3E%3C/svg%3E");
    }
    &.is-map {
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.375 4.688a4.693 4.693 0 00-4.688 4.687 4.693 4.693 0 004.688 4.688 4.693 4.693 0 004.687-4.688 4.693 4.693 0 00-4.687-4.688zm0 7.812A3.128 3.128 0 016.25 9.375 3.128 3.128 0 019.375 6.25 3.128 3.128 0 0112.5 9.375 3.128 3.128 0 019.375 12.5zM24.215 13.21a.78.78 0 00-.778-.71h-1.563v-1.563a3.128 3.128 0 00-3.124-3.124 3.128 3.128 0 00-3.125 3.125V12.5h-1.563a.78.78 0 00-.778.71l-.784 8.665A3.128 3.128 0 0015.625 25h6.25c1.723 0 3.125-1.402 3.121-3.195l-.78-8.594zm-7.028-2.273a1.563 1.563 0 013.125 0V12.5h-3.125v-1.563zm4.688 12.5h-6.25c-.863 0-1.563-.7-1.566-1.492l.717-7.883h.849v2.344a.782.782 0 001.562 0v-2.343h3.125v2.343a.782.782 0 001.563 0v-2.343h.85l.712 7.812c0 .863-.7 1.563-1.563 1.563z' fill='%23fff'/%3E%3Cpath d='M17.731 5.119A9.346 9.346 0 009.375 0C4.205 0 0 4.205 0 9.375c0 6.498 8.462 15.036 8.822 15.397a.785.785 0 001.106 0s.305-.305.803-.842a.782.782 0 00-1.147-1.063c-.073.081-.142.155-.206.224-1.867-1.996-7.816-8.75-7.816-13.716 0-4.308 3.505-7.813 7.813-7.813a7.787 7.787 0 016.964 4.268.78.78 0 101.392-.711z' fill='%23fff'/%3E%3C/svg%3E");
    }
  }
  .c-navigation__menu {
    a, span {
      color: #fff;
    }
  }
  .e-menu-trigger span {
    background-color: #fff;
  }
  .c-navigation__menu-item {
    &[data-js-toggle="sub-menu"] {
      &>a, &>span {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.102 1.392l4.95 4.95a1 1 0 010 1.414l-4.95 4.95' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='bevel'/%3E%3C/svg%3E");
        }
      }
    }
  }
}