.c-table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    tr {
      border-top: 1px solid $color-light-grey;
      background-color: $color-blue-light;

      &:last-child {
        border-bottom: 1px solid $color-light-grey;
      }

      &:hover {
        background-color: $color-primary-light;
      }
    }

  }

  th, td {
    padding: 10px;

    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }
  }
  th {
    font-weight: bold;
    text-align: left;
  }
}
